@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.layout-main {
  font-family: "Inter", sans-serif;
  background-color: $bg-main;
  color: $text-main;


}
.overflowY-hidden{
  height: 100vh;
  overflow-y: hidden;
}
.container {
  display: flex;

  .menu-container {
    width: 200px;
    padding: 5px 10px;
    border-right: 2px solid $bg-soft;

    display: flex;
    justify-content: left;
    @include lg {
      width: 70px;
      justify-content: center;
    }
  }
  .content-container {
    border-top: 1px solid $bg-soft;
    width: 100%;
    padding: 5px 0px;
  }
}
