@import "../../styles/variables.scss";
.table {
  .data-grid {
    padding: 20px;
 border: 1px solid $bg-soft;
    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;

      input {
        color: white;
      }
      svg {
        color: white;
      }
    }
   
      svg {
        color: white;
      }
      span,p{
        color: white;
      }
    
  }
}
